<% if (errors) { %>
    <div class="error-window">
        <ul>
            <% errors.map(function(error) { %>
                <li><%= error.message %></li>
            <% }) %>
        </ul>
    </div>
<% } %>